.hero{
    background-image: url('../images/sale.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 250px;
    color: #0000;
}

.card-title{
    color: #044561;
}

.index{
    margin-top: 20px;
}
